<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    
    <testsuite name="Diggin_Scraper_Adapter_Htmlscraping Test Suite">
     <directory>./tests/</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
